html {
  height: 100%;
  width: 100%;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: large;
}

#quiz-container {
    width: 400px;
    margin: 0 auto;
    background-color: #f0b2b2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #2c8cf2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0263ca;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
